.products {
  border-radius: 7px;
  padding-bottom: 35px;

  .products_box {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
    gap: 25px;
    .product_heading {
      width: 100%;
      h3 {
        text-align: left;
        font-size: 24px;
        color: #a8741a;
        margin-bottom: 25px;
      }
    }
  }
}

.items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 55px;
  flex-wrap: wrap;
  width: 100%;
}

.light {
  .products {
    .product_heading {
      h3 {
        color: black;
      }
    }
  }
}
.mobile_filter {
  display: none;
}

@media only screen and (max-width: 1601px) {
  .items {
    .product_item {
      width: calc(100% / 5 - 45px);
    }
  }
}

@media only screen and (max-width: 1341px) {
  .items {
    .product_item {
      width: calc(100% / 4 - 42px);
    }
  }
}

@media only screen and (max-width: 1031px) {
  .items {
    .product_item {
      width: calc(100% / 3 - 38px);
    }
  }
}

@media only screen and (max-width: 777px) {
  .items {
    .product_item {
      width: calc(100% / 2 - 30px);
    }
  }
}

@media only screen and (max-width: 502px) {
  .items {
    .product_item {
      width: 100%;
      img{
        height: 250px;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .items {
    .product_item {
      width: 100%;
      img{
        height: 170px;
      }
    }
  }
}

