.weight_chooser {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .title {
    color: #ccc;
    margin-bottom: 10px;
  }
}

.light {
  .weight_chooser {
    .title {
      color: #333;
    }
    label {
      color: #333;
    }
  }
}
