.metal_chooser_btn {
  width: 100%;
  border-radius: 7px;
  padding: 7px 10px;
  background: #2e2e2e;
  border: 2px solid #5a5a5a;
  height: 34px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .chosen_category {
    color: white;
    font-size: 12px;
    margin-right: 10px;
  }
}

.light {
  .metal_chooser_btn {
    border: 2px solid #333;
    background: #ccc;
    .chosen_category {
      color: black;
      font-weight: normal;
    }
  }
}
