.mobile_filter {
  display: none;
  margin-bottom: 10px !important;
}

.show_filter {
  display: flex;
  gap: 5px;
  align-items: center;
  p {
    color: grey;
    font-size: 18px;
    font-weight: normal;
  }
}

.css-1u2w381-MuiModal-root-MuiDrawer-root {
  display: none;
}

.filter_btn {
  width: 100%;
  margin-top: 20px;
  background: #a8741a;
  color: white;
}

.img_logo {
  width: 90px;
  margin: auto;
  margin-top: 30px;
  img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 1074px) {
  .css-1u2w381-MuiModal-root-MuiDrawer-root {
    display: block;
  }
  .multiselect_btn {
    background: white;
  }

  
}
