.filter_box {
  width: 100%;
  margin-bottom: 10px;
  .filter_tool {
    display: flex;
    align-items: flex-start;
    gap: 10px 20px;
    width: 100%;
    .title {
      font-size: 15px;
      font-weight: 600;
    }
  }
}

.desktop_filter{
  display: block;
}

.mobile_filter{
  display: none;
}

.show_filter{
  color: #ccc;
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: -5px;
}

.filter_btn{
  margin-top: 31px;
  border-radius: 5px;
  background: transparent;
  background: #a8741a;
  font-size: 17px;
  padding: 3px 15px;
  width: auto;
  font-weight: normal;
}

.input_choosers {
  display: flex;
  align-items: center;
  gap: 10px;
  input {
    background: #2d2d2d;
    padding: 6px 10px;
    width: 120px;
    caret-color: white;
    color: white;
    border-radius: 5px;
    border: 1px solid #5a5a5a;
    &::placeholder {
      color: #aaa;
    }
  }
}



.light {
  .input_choosers {
    input {
      background: transparent;
      border: 1px solid #333;
      color: black;
      caret-color: black;
      &::placeholder {
        color: #333;
      }
    }
  }
  .filter_box {
    .filter_tool {
      button {
        h6 {
          color: #333;
        }
      }
    }
  }
  .show_filter{
    color: #333;
  }
}



@media only screen and (max-width: 1080px) {
  .desktop_filter{
    display: none;
  }
  .mobile_filter{
    display: block;
  }
  .filter_tool{
    .min, .max{
      width: 50%;
    }
    flex-direction: column;
    input, .MultiSelectDropdown, .categories, .input_choosers, .prob_chooser, .price_chooser, .weight_chooser, .filter_btn{
      width: 100% !important;
    }
    .filter_btn{
      margin-top: 15px;
      height: 36px;
    }
  }
}
